.grid-container {
  color: #cccccc;
  height: 100vh;
  font-size: 25px;
  display: grid;
  grid-template-columns: 1.5fr repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px 20px;
  grid-template-areas:
    'A A . B'
    'C Box Box Box'
    'C Box Box Box';
}

.A {
  grid-area: A;
  background-color: #444444;
}

.B {
  grid-area: B;
  background-color: #444444;
}

.C {
  grid-area: C;
  background-color: #444444;
}

.Box {
  display: grid;
  background-color: #444444;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 20px;
  grid-template-areas:
    'E F F'
    'E . G';
  grid-area: Box;
}

.E {
  grid-area: E;
  background-color: #cccccc;
}

.F {
  grid-area: F;
  background-color: #cccccc;
}

.G {
  grid-area: G;
  background-color: #cccccc;
}

.item {
  border-radius: 10px;
}

.Box {
  padding: 40px;
  color: #444444;
  font-size: 30px;
}

h1 {
  margin-left: 1.3rem;
}
